.document-type , .element {
    color: blue;
}

.element {
    color: blue;
}

.element-value {
    font-size: 14px;
    font-family: monospace;
    white-space: pre;
}

.cdata-value {
    font-size: 14px;
    font-family: monospace;
    white-space: pre;
}

.attribute-name {
    color: rgb(255, 106, 0);
    padding-left: 5px;
}
.attribute-value {
    color: rgb(255, 0, 166);
}